body {
    background-color: white;
    width: 80%;
    margin: auto;
}

.calculator {
    display: flex;
    justify-content: center;
    background-color: black;
    width: 100%;
    height: 600px;
    margin-top: 10%;
    border-radius: 10%;
}

.calculator_screen {
    width: 90%;
    height: 10%;
    background-color: black;
    color: white;
    display: flex;
    margin-top: 77px;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 65px;
    font-weight: 400;
    justify-content: flex-end;
}

.calculator-buttons {
    display: grid;
}